/prototype/ProtoServer/nbproject/private/
/prototype/webServicesTest/nbproject/private/
/prototype/webServicesTest/build/
/prototype/testRest/nbproject/private/
/prototype/WebApplication1/nbproject/private/
/prototype/WebApplication1/build/
/prototype/testRest/build/
/prototype/testRest/dist/
/prototype/restServer/nbproject/private/
/prototype/restServer/build/
/prototype/restServer/dist/
/prototype/WebApplication1/dist/
/prototype/WebApplication2/nbproject/private/
/prototype/WebServiceTest/nbproject/private/
/prototype/WebApplication2/build/
/prototype/WebApplication2/dist/
/prototype/WebServiceTest/build/
prototype/MyApplication2/.idea/compiler.xml
prototype/MyApplication2/.idea/copyright/profiles_settings.xml
prototype/MyApplication2/.idea/misc.xml
prototype/MyApplication2/.idea/workspace.xml
prototype/maquette-android/app/src/main/AndroidManifest.xml.rej
